<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>Express movies</title>
        <link rel="stylesheet" href="../public/style.css" />
    </head>
    <body>
        <!-- Inclusion du header -->
        <% include ./partials/header %>

        <h1>All movies</h1>
        <div>
            <% for(m of movies) {%>
                <div> <%= m.title %> <%= m.year %></div>
            <% } %>
        </div>
        <br />
        <div>
            <form action="/movies" method="post">
                <label for="title">Title :</label>
                <input type="text" name="title">
                <label for="year">Year :</label>
                <input type="text" name="year">
                <button type="submit">Add</button>
            </form>
        </div>
    <!-- Inclusion du footer -->
        <% include ./partials/footer %>
        <script>
            /*const form = document.querySelector('form');
            form.addEventListener('submit', addMovie);
            function addMovie(event){
               event.preventDefault();
               if(fetch('/movies')){

               }
               else{
                //JQUERY , XHR
               }
            }*/
        </script>
    </body>
</html>