<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>Express movies</title>
        <link rel="stylesheet" href="../public/style.css" />
    </head>
    <body>
        <h3>Details of <%= movieTitle %></h3>
        <p>Movie n°  <%= movieId %></p>
    </body>
</html>